<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="REST API Test Suite" parallel="none" thread-count="5">

	<listeners>
		<listener
			class-name="org.testng.reporters.EmailableReporter2" />
	</listeners>

	<test name="GET Test">
		<classes>
			<class name="api.example.GET_User">
			</class>
		</classes>
	</test>
	<test name="POST Test">
		<classes>
			<class name="api.example.POST_Login_Success">
			</class>
		</classes>
	</test>
	<test name="Allure Test">
		<classes>
			<class name="api.example.temp.AllureReportTest">
			</class>
		</classes>
	</test>
</suite>  